/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.resume-container {
  display: flex;
  justify-content: space-between;
  /* Распределяет пространство между элементами */
  height: 100vh;
  /* Высота страницы на весь экран */
  padding: 20px;
}

.header {
  display: flex;
  width: 100%;
}

.left-section,
.right-section {
  padding: 20px;
}


.left-section {
  width: 35%;
  /* Левый блок занимает 30% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Элементы выровнены по вертикали */
}

.right-section {
  width: 60%;
  /* Правый блок занимает 65% */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media print {
  .resume-container {
    height: auto;
    /* Для печати весь контент на одной странице */
  }
}


.name-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 0;
}

.left-section>div,
.right-section>div {
  margin-bottom: 20px;
}

.left-section a {
  display: block;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
}

.left-section a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p,
a {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    width: 100%;
    text-align: center;
  }

  .name-title {
    text-align: center;
  }

  img {
    width: 150px;

  }
}

/* @media screen and (max-width: 1024px) and (min-width: 768px) {
  .resume-container {
    flex-direction: column;
    align-items: center;

  }

  .left-section {
    width: 100%;
    align-items: center;

  }

  .right-section {
    width: 100%;
    margin-top: 20px;
    align-items: center;

  }

  img {
    display: block;
    margin: 0 auto;

  }
} */